.action{
    display: flex;
    float: right;
}
.action a{
    margin-right: 5px;
}
.conteudo{
    width: 100%; 
    height: 600px; 
    font-size: 14px; 
    line-height: 18px; 
    border: 1px solid #dddddd; 
    padding: 10px;
}
.img-panel{
    max-width: 500px;
}
.img-album{
    max-width: 100px;
}
.ms-container{
    width: 100% !important;
}
.pagination{
    float: right;
}
.folder * {
    width: 100px;
}
.folder {
    float: left;
    width: 100px;
    height: 152px;
//padding: 20px;
    margin-right: 50px;
    margin-bottom: 70px;
    border-radius: 2px;
//overflow: hidden;
    cursor: pointer;
}
.folder:hover p.cooltip {
    opacity: 1;
    top: 0;
}
.folder * {
    text-align: center;
}
.folder i {
    margin: 0;
    font-size: 100px;
    color: #607D8B;
}
.folder h1 {
    position: relative;
    display: block;
    top: -37px;
    font-size: 20px;
    font-weight: 400;
}
#files {
    overflow-y: scroll !important;
    min-height: 320px;
}
@media (min-width: 768px) {
    #files {
        min-height: 0;
    }
}
#debug {
    overflow-y: scroll !important;
    height: 180px;
}

.dm-uploader {
    border: 0.25rem dashed #A5A5C7;
    text-align: center;
}
.dm-uploader.active {
    border-color: red;

    border-style: solid;
}

.p-2 {
    padding: .5rem;
}

.p-5 {
    padding: 3rem;
}

.mb-1 {
    margin-bottom: .25rem;
}

.mt-1 {
    margin-top: .25rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.mt-5 {
    margin-top: 3rem;
}

.h-100 {
    height: 100%;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.d-flex {
    display: flex !important;
}

.flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    flex-direction: column;
}

.col {
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

